body {
    background: rgb(180, 235, 187);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  } 
 
  header {
     padding-top: 50px;
 }

 /* original image */
.imghover {
    margin-left: auto;
    margin-right: auto;
    width: 533px;
    height: 942px;
    background-image: url("IMAGES/hot-dog-man.png");
}

/* new image */
.imghover:hover {
    background-image: url("IMAGES/talking-hot-dog-man.png");
}

/* Dropdown Button */
.dropbtn {
    background-color: #db7134;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ccce5e;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ccce5e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(223, 175, 72)}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}