body {
    background: rgb(180, 235, 187);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  } 
 
  header {
     padding-top: 50px;
 }

.imghover {
    margin-left: auto;
    margin-right: auto;
    width: 533px;
    height: 942px;
    padding-top: 50px;
    background-image: url("IMAGES/hot-dog-man.png");
}

.imghover:hover {
    background-image: url("IMAGES/talking-hot-dog-man.png");
}
